body{
    margin: 0em;
    background-color: white;
    background-image: url(../img/155904889535944.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
#centro{
    width: 1000px;
    margin: auto;
    color: black;
    background-color: black;
}
header{
    background-color: blueviolet;
    background-image: url(../img/download.jfif);
    background-size: 100% 100%;
    color: rgb(19, 245, 19);
    height: 13em;
    max-width: 100%;
    padding: 2em;
    text-align: right;
}
header h3 {
    font-family: 'Fredoka', sans-serif;
    font-size: 3em
}
header p {
    font-family: 'Fredoka', sans-serif;
    font-size: 2.5em;
    font-weight: 900;
}
nav {
    background-color: white;
    color: black;
    padding: 1em;
    max-width: 100%;
}
section{
    background-color: orange;
    color: antiquewhite;
    padding: 1em;
    max-width: 100%;
    min-height: 55em;
}
footer {
    background-color: black;
    color: antiquewhite;
    padding: 1em;
    max-width: 100%;
    min-height: 3em;
}
#popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.4);
    min-height: 100em;
}
#fechar{
    position: absolute;
    right: 80px;
    top: 5px;
    width: 30px;
    height: 30px;
    color: azure;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
#quadro{
    width: 40%;
    margin: 15% auto;
    text-align: center;
    background-color: beige;
    padding: 5%;
    border-radius: 14px;
}
#popup input{
    width: 100%;
    padding: 2%;
    margin-bottom: 3%;
}
#quadro a{
    text-decoration: none;
}
#quadro a:hover{
    text-decoration: underline;
}
#msg{
    color: black;
    display: none;
}